# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Mermaid diagrams (keep Repository-Architecture-Diagramming demo)
mermaid_diagrams/*

# any DS_Store files
*.DS_Store
.DS_Store